<style>
    canvas{
        width:23.4em;
        height:12em;
    }
</style>
<div class="wrapper" style="height:31vh; position:absolute; top:67.7vh; left:12vw;">
    <div class=wrapper1 style="position:absolute; top:0.5vh; left:0.3vw; text-align:center; color:white; line-height: 4.5vh;"><b>불량율</b></div>
</div>

<div class="wrapper" style="position: absolute; top: 1vh; right:2vw;">
    <div class="wrapper1" style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;"><b>불량율</b></div>
        <div class="wrapper2" style="position: absolute; top:5.5vh; left:0.3vw">
            <div style="position:absolute; top:-2rem; width:70%; left:20%">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    const DATA_COUNT = 5;
    const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};

    const data = {
        labels: ['양품', '불량품'],
        datasets: [
            {
                label: 'Dataset 1',
                data: [90, 10],
                backgroundColor: ['royalblue', 'orangered'],
                hoverOffset: 5,
            }
        ]
    };
    const config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'right',
                    labels:{
                        color : "white"
                    }
                },
            }
        },
    };
    var myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
    var show = true
</script>

<!-- 생산현황 그래프 -->
<div class="wrapper" style="position: absolute; top: 1vh; right:31vw;">
    <div class="wrapper1" style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;"><b>생산 현황</b></div>
        <div class="wrapper2" style="position: absolute; top:5.5vh; left:0.3vw">
            <canvas id="Chart1"></canvas>
        </div>    
</div>

<script>
    const labels1 = [
        '시간1',
        '시간2', 
        '시간3',
        '시간4'              
    ];          
   
    const data1 = {
        labels: labels1,
        datasets: [
            {
            label: '목표생산량',
            data: [100, 100, 100, 100],
            borderColor: 'rgb(237, 125, 49)',
            backgroundColor: 'rgb(237, 125, 49)',
            },
            {
            label: '생산량',
            data: [13,25,57,78],
            borderColor: 'rgb(91, 155, 213)',
            backgroundColor: 'rgb(91, 155, 213)',
            }
        ]
    };
    const config1 = {
        type: 'line',
        data: data1,
        options: {
            responsive: false,
            plugins: {
                legend: {
                    position: 'bottom',
                    labels:{
                        color : "white"
                    }
                },
            },
            scales: {
                x:{
                    ticks:{
                        color: "white",
                    }
                },
                y: {
                    min: 0,
                    max: 105,
                    ticks:{
                        color: "white",
                    }
                }
            }        
        },
    };
    var myChart1 = new Chart(
        document.getElementById('Chart1'),
        config1
    );
    var show = true
</script>

<!-- 온도조건 차트 -->
<div class="wrapper" style="position: absolute; top: 37vh; right:2vw;">
    <div class="wrapper1" style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;"><b>온도 현황</b></div>
        <div class="wrapper2" style="position: absolute; top:5.5vh; left:0.3vw">
            <canvas id="Chart2"></canvas>
        </div>
</div>
<script>
    const labels2 = [
        '시간1',
        '시간2',
        '시간3',
        '시간4',
    ];
    const data2 = {
    labels: labels2,
    datasets: [
        {
            label: '금형온도',
            data: [4.3, 2.5, 3.5, 4.5],
            borderColor: 'rgb(91, 155, 213)',
            backgroundColor: 'rgb(91, 155, 213)',
        },
        {
            label: '용융온도',
            data: [2.4, 4.4, 1.8, 2.8],
            borderColor: 'rgb(237, 125, 49)',
            backgroundColor: 'rgb(237, 125, 49)',
        }
    ]
    };
    const config2 = {
    type: 'line',
    data: data2,
    options: {
        responsive: false,
        plugins: {
            legend: {
                position: 'bottom',
                labels:{
                    color : "white"
                }
            },
        },
        scales: {
            x:{
                ticks:{
                    color: "white",
                }
            },
            y: {
                min: 0,
                max: 7,
                ticks:{
                    color: "white",
                }
            }
        }      
    },
    };
    var myChart2 = new Chart(
        document.getElementById('Chart2'),
        config2
    );
    var show = true
</script>

<!-- 압력조건 라인차트 -->
<div class="wrapper" style="position: absolute; top: 37vh; right:31vw;">
    <div class="wrapper1" style="position:absolute; top:0.5vh; left:0.3vw; text-align: center; color:white; line-height: 4.5vh;"><b>압력 현황</b></div>
        <div class="wrapper2" style="position: absolute; top:5.5vh; left:0.3vw">
            <canvas id="Chart3"></canvas>
        </div>
</div>
<script>
    const labels3 = [
        '시간1',
        '시간2',
        '시간3',
        '시간4'              
    ];
    const data3 = {
    labels: labels3,
    datasets: [
        {
            label: '보압',
            data: [4.3, 2.3, 3.5, 4.5],
            borderColor: 'rgb(91, 155, 213)',
            backgroundColor: 'rgb(91, 155, 213)',
        },
        {
            label: '배압',
            data: [2.4, 4.4, 1.8, 2.8],
            borderColor: 'rgb(237, 125, 49)',
            backgroundColor: 'rgb(237, 125, 49)',
        }
    ]
    };
    const config3 = {
    type: 'line',
    data: data3,
    options: {
        responsive: false,
        plugins: {
            legend: {
                position: 'bottom',
                labels:{
                    color : "white"
                }
            },
        },
        scales: {
            x:{
                ticks:{
                    color: "white",
                }
            },
            y: {
                min: 0,
                max: 5,
                ticks:{
                    color: "white",
                }
            }
        }
    },
    };
    var myChart3 = new Chart(
        document.getElementById('Chart3'),
        config3
    );
    var show = true
</script>