<!DOCTYPE html>
<html>
    <head>
        <%- include("./head.ejs") %>
    </head>
    <body>
        <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">시리얼번호</th>
                <th scope="col">시간</th>
                <th scope="col">금형온도</th>
                <th scope="col">사출온도</th>
                <th scope="col">사출속도</th>
                <th scope="col">보압</th>
                <th scope="col">사출시간</th>
                <th scope="col">보압시간</th>
                <th scope="col">배압시간</th>
                <th scope="col">결함원인</th>
              </tr>
            </thead>
            <tbody>
              
             
            </tbody>
          </table>
       
    </body>
</html>