<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- 부트스트랩 링크 복사 -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <a href="https://storyset.com/work"></a>
        <div><a href="https://www.flaticon.com/authors/smashicons" title="Smashicons"></a><a href="https://www.flaticon.com/" title="Flaticon"></a></div>
    </head>
    <style>
        .login{
            height : 100vh;
            display : flex;
            align-items : center;
            justify-content: center;
        }
        ._label{
            width : 35%;
        }
        ._button{
            width: 7vw;

        }
        .center{
            display : flex;
            justify-content: space-around;
        }
        .wrapper {
            height:66vh;
            width:24vw;
            background-color: white;
        }
        .wrapper1 {
            height:66vh;
            width:24vw;
            background-color: rgb(173, 185, 202);
        }
    </style>
    <body style="background-color: rgb(68,84,106); overflow-y: hidden;">
        <div class="wrapper1" style="position: absolute; top:17vh; left:26vw;">
            <b style="position: absolute; left:13%; top:15%; font-size:40px;">레고 사출공정</b><br>
            <p style="position: absolute; left:17%; top:30%; font-size:25px">실시간 모니터링</p>
            <img src="/img/amico.png" style="position:absolute; width:18vw; top:26vh; left:3vw;">
        </div>
        <div class="wrapper" style="position: absolute; top:17vh; right:26vw;">
            <div class = "container login">
                <img src="/img/blocks.png" style="position:absolute; width:100px; height:100px; left:35%; top:110px">
                <form action="/login" method="post">
                    <div class="input-group mb-3" style="width:14vw; position:absolute; left:5vw; top: 55%">
                        <input type="id" class="form-control" placeholder="ID" name="_id">
                    </div>
                    <div class="input-group mb-3" style="width:14vw; position:absolute; left:5vw; top:65%">
                        <input type="password" class="form-control" placeholder="Password" name="_password">
                    </div>
                    <div align="center" style="position: absolute; top:80%; left:35%">
                        <input type="submit" class="btn btn-outline-dark _button" value="login">
                    </div>
                </form>
            </div>
        </div>
        
    </body>
</html>