<!DOCTYPE html>
<html>
    <head>
        <%- include("./head.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/js/now.js"></script>
        <style>
            .wrapper {
                height:15rem;
                width:24rem;
                background-color: rgba(95, 100, 126, 0.699);
            }   
            .wrapper1{
                height:2rem;
                width:23rem;
                background-color: rgba(199, 202, 241, 0.308);
            }
            .wrapper2{
                height:12rem;
                width:23rem;
                background-color: rgba(40, 41, 59, 0.637); 
            }
            td{
                vertical-align: middle;
            }
            #keyboard{
                display: none;
                background-color: rgb(68,84,106);
                color: white; 
                position:absolute; 
                left:500px; 
                top:200px; 
                table-layout: fixed; 
                width:120px;
            }
            .btn{
                width:6.5rem;
                height:2.5rem; 
                position:absolute; 
                bottom:0.3rem; 
                right:15%; 
                font-size:1.2em; 
                line-height: 1em;
            }
        </style>
    </head>
    
    <body style="background-color: rgb(41, 48, 63);">

        <!-- 조건 테이블 -->
        <%- include("./table.ejs") %> 
        
        <!-- 자판  -->
        <table class="table table-bordered " id="keyboard">
            <tr>
                <td onclick="add(1)">1</td>
                <td onclick="add(2)">2</td>
                <td onclick="add(3)">3</td>
            </tr>
            <tr>
                <td onclick="add(4)">4</td>
                <td onclick="add(5)">5</td>
                <td onclick="add(6)">6</td>
            </tr>
            <tr>
                <td onclick="add(7)">7</td>
                <td onclick="add(8)">8</td>
                <td onclick="add(9)">9</td>
            </tr>
            <tr>
                <td onclick="reset()">AC</td>
                <td onclick="add(0)">0</td>
                <td onclick="add('.')">.</td>
            </tr>
            <tr>
                <td colspan="2" id="ok">OK</td>
                <td onclick="del()">←</td>
            </tr>
        </table>        
        <%- include("./chart.ejs") %>
        
        <!-- 진행 단계 -->
        <div style="width: 48.5rem; height: 10rem; background-color: rgba(95, 100, 126, 0.699); position: absolute; top: 31.5rem; right:3em; color:white; font-weight: 1000;">
            <div class="wrapper1" style="width:98%; position:absolute; top:0.3em; left:1%;text-align: center; color:white; line-height: 2rem;"><b>현재 진행 상태</b></div>
                <div style="height:7rem; width:98%; background-color: rgba(40, 41, 59, 0.637); position:absolute; top:2.5em; left:0.5em;">    
                    <div id="osj2-container">
                        <div align="center" id="osj2-spinner" style="position: absolute; top: 0.8em; left: 3.5rem; line-height: 60px; font-size: 20px;">준비</div>
                    </div>
                    <div id="osj2-container">
                        <div align="center" id="osj2-spinner" style="position: absolute; top: 0.8em; left: 12.5rem; line-height: 60px; font-size: 20px;">사출</div>
                    </div>
                    <div id="osj2-container">
                        <div align="center" id="osj2-spinner" style="position: absolute; top: 0.8em; left: 21.5rem; line-height: 60px; font-size: 20px;">배압</div>
                    </div>
                    <div id="osj2-container">
                        <div align="center" id="osj2-spinner" style="position: absolute; top: 0.8em; left: 30.5rem; line-height: 60px; font-size: 20px;">보압</div>
                    </div>
                    <div id="osj2-container">
                        <div align="center" id="osj2-spinner" style="position: absolute; top: 0.8em; left: 39.5rem; line-height: 60px; font-size: 20px;">분리</div>
                    </div>
                </div>
            </div>
        <div style="position:absolute; top: 31rem; left:15em;">
            <img style="width: 17rem; height:10rem" src="/img/motion.gif">
        </div>

        <script>
            var set = "";
            function clicked(c){
                set = c;
            }
            function add(char){
                $(set).append(char)
            }
            function reset(){
                $(set).text("")
            }
            function del(){
                var c = document.getElementById(set.slice(1)).innerText
                $(set).text(c.slice(0,-1))
            }
            $(".display").click(function(e){
                $("#keyboard").css("left", e.pageX+"px")
                $("#keyboard").css("top", e.pageY+"px")
                $("#keyboard").show()
            })
            $("#ok").click(function(){
                $("#keyboard").hide()
            })
        </script>
    </body>
</html>